@import 'bootstrap';

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }

.ember-view { 
    animation: domChanged 1s; 
    -webkit-animation: domChanged 1s; 
    height: 100%;
}

html,
body {
  font-size: 12px;
  margin: 20px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #d4d2d2 -moz-use-text-color #d4d2d2;
  border-style: dashed none;
  border-width: 1px 0;
  margin: 18px 0;
  opacity: 0.35;
}

.todosList ul { 
  list-style-type: none; 
  padding:0; 
  margin:0;
  line-height: 50px;
}

.todoCheckbox {
  margin-left: 10px !important;
}

.todosList ul li {
  background: #FFFFFF; 
}

.todosList ul li:nth-child(odd) {
  background: #F4F7FA; 
}

input[type="checkbox"] {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(img/todo_checked.png) left top no-repeat;
  cursor:pointer;
}

.completedTodo {
  text-decoration: line-through;
  opacity: 0.5;
}

#todoTask {
  font-size: 16px;
}

.remainingTodosContainer {
  opacity: 0.5;
}

.markAllAsCompleteContainer {
  font-size: 16px; 
}

.hoverControls {
  display: none;
  font-size: 16px;
  margin-right: 10px;
  opacity: 0.5;
}

.hoverControls a {
  color: #000;
}

.todoListItem:hover .hoverControls{ 
  display: block;
}

.glyphicon-edit {
  margin-right: 10px;
}
