<h1>Add todo</h1>
<form>
{{input type="text" placeholder="What needs to be..." value=task class="form-control"}}<br>
{{input type="checkbox" value=is_done class="form-control"}}<br>
<button {{action 'someAction'}} class="btn btn-primary">Save <span class="glyphicon glyphicon-ok"></span></button>
</form>
