<div class="container">

  <div class="panel panel-default">

    <div class="panel-body">

      <div class="text-center">

        <h1 id='title'>Todos</h1>

      </div><!-- /.text-center -->

      {{outlet}}

    </div><!-- /.panel-body -->

  </div><!-- /.panel panel-default -->

</div><!-- /.container -->
